{% extends 'base.html' %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/pag_princ_user_styles.css')}}">
    {% block content %}
    <!--Contenido-->

    <div class="container px-0 py-0">
      <h2 class="pb-1 border-bottom" style="margin-bottom: 15px;">ULTIMOS POEMAS AGREGADOS:</h2>
      <!--Filtro-->

      <!--Poema-->
      <div style="display: flex;">
        <tbody>
            {% for poem in poems %}
            <h2 class="pb-2 border-bottom "></h2>
            <div class="contenedor-poema" style="margin-right: 30px; height: 300px;">
                <div class="col d-block position-static pt-0 mx-1 rounded-3 shadow overflow-hidden w-200px d-flex align-items-start justify-content-center" style="background-color: white; display: flex; align-items: flex-start;">
                    <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-1 flex-shrink-0 me-1" style="background-color: white;">
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                    </div>
                    <div>
                        <h2>{{poem.titulo}}</h2>
                        <p>{{poem.cuerpo[:150] + '...'}}</p>  <!-- Mostrar solo los primeros 100 caracteres del cuerpo -->
                        <div style="display: flex; justify-content: center;">
                            <a href="{{url_for('app.view_user', id = poem.id)}}" class="btn btn-primary">
                                Seguir leyendo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </div>
    <!-- Botón para abrir el popup -->
<button id="openPopupBtn" class="btn btn-primary" style="display: none;">Abrir Popup</button>

<!-- Popup -->
<div id="loginPopup" class="popup" style="display: none;">
    <div class="popup-content" style="background-color: white; padding: 20px;max-width: 400px;text-align: center;border-radius: 5px;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 9999;">
        <span class="close">&times;</span>
        <div class="text-center">
            <img src="{{url_for('static', filename='img/monalisa.jpg')}}" alt="Foto" class="img-fluid rounded-circle mb-3" style="width: 200px; height: 200px;">
        </div>
        <h2 class="popup-title" style="display: flex; justify-content: center;">¿Ya estás registrado?</h2>
        <p class="popup-text" style="display: flex; justify-content: center;">Ingresa a tu cuenta para disfrutar de todas las funciones.</p>
        <div style="display: flex; justify-content: center;">
            <a href="{{url_for('app.login')}}" class="btn btn-primary">Iniciar sesión</a>
        </div>
    </div>
</div>

<!-- Resto del contenido de la vista -->

<script>
    document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function() {
            document.getElementById("openPopupBtn").click();
        }, 5000); // Retraso de 5000 milisegundos (5 segundos)
    });

    document.getElementById("openPopupBtn").addEventListener("click", function() {
        document.getElementById("loginPopup").style.display = "block";
    });

    document.getElementsByClassName("close")[0].addEventListener("click", function() {
        document.getElementById("loginPopup").style.display = "none";
    });
</script>

<img src="{{url_for('static', filename='img/banner1.jpeg')}}" alt="Imagen" class="img-fluid mb-3" style="width: 100%; height: 350px;">

</div>
{% endblock %}